#schedule-container-outer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .day-schedule {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px 0;

      .detailed-schedule-container {
        display: flex;

        .schedule-details {
          // cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 20px 30px;

          i,
          h3,
          p {
            margin: 5px;
          }

          .hover {
            color: pink;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        #friday-modal,
        #saturday-mingle-modal,
        #saturday-ceremony-modal,
        #saturday-reception-modal,
        #sunday-modal {
          cursor: pointer;
        }
      }
    }

    i {
      font-size: 24px;
      color: pink;
    }

    h2 {
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    position: relative;

    .modal-bg {
      // .modal {
      //   // display: block;
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      //   max-width: 60%;
      //   min-width: 30%;
      //   max-height: 80%;
      //   min-height: 40%;
      //   margin: 60px auto 0px auto;
      //   box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
      //   border: 3px solid white;
      //   border-radius: 3px;
      //   cursor: auto;
      //   background: white;
      //   padding: 30px;

      //   h2 {
      //     font-family: "Poppins", sans-serif;
      //     text-transform: uppercase;
      //     letter-spacing: 3px;
      //     margin: 0 0 10px 0;
      //   }

      //   h3,
      //   p {
      //     line-height: 1.5;
      //     margin: 10px 0 10px 0;
      //   }

      //   img {
      //     height: 200px;
      //     width: auto;
      //     border-radius: 3px;
      //   }

      //   .schedule-img-container {
      //     display: flex;

      //     img {
      //       height: 120px;
      //       border-radius: 3px;
      //       margin: 0 10px 0 0;
      //     }
      //   }
      // }
      .schedule-modal {
        display: block;
        max-width: 90%;
        max-height: 90%;
        box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
        background-color: white;
        padding: 30px;
        cursor: auto;

        // Center the modal
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        h2 {
          font-family: "Poppins", sans-serif;
          text-transform: uppercase;
          letter-spacing: 3px;
          margin: 0 0 10px 0;
        }

        h3,
        p {
          line-height: 1.5;
          margin: 10px 0 10px 0;
        }

        img {
          // height: 200px;
          // width: auto;
          max-width: 100%;
          height: auto;
          border-radius: 3px;
        }

        .schedule-img-container {
          display: flex;

          img {
            height: 120px;
            border-radius: 3px;
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #schedule-container-outer {
    #schedule-container {
      .day-schedule {
        .detailed-schedule-container {
          flex-direction: column;
        }
      }
    }
  }
}
