#schedule-container-outer {
  height: auto;

  #schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    i {
      font-size: 24px;
      color: #f4dd8b;
    }
    
    h2 {
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    
    .more-info {
      background-color: #a7beb6;
      width: 50px;
      height: 20px;
      border-radius: 5px;
      box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
      margin-top: 10px;
    }
    
    .day-schedule {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px 0;
      
      .detailed-schedule-container {
        background-color: white;
        display: flex;
        // border-radius: 5px;
        // box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);

        .schedule-details {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 20px 30px;

          i,
          h3,
          p {
            margin: 5px;
          }

          h3 {
            font-weight: 300;
          }
        }

        #sunday-modal {
          cursor: default;
        }
      }
    }

    .modal-bg {
      .schedule-modal {
        display: block;
        max-width: 70%;
        max-height: 80%;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        cursor: auto;

        background-color: white;
        padding: 30px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // Center the modal
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        h2 {
          font-family: "Poppins", sans-serif;
          text-transform: uppercase;
          letter-spacing: 3px;
          margin: 0 0 10px 0;
        }

        h3,
        p {
          line-height: 1.5;
          margin: 10px 0 30px 0;
          text-align: center;
          font-weight: 100;
        }

        img {
          height: 200px;
          width: auto;
          border-radius: 3px;
        }

        #friday {
          box-shadow: -1rem -1rem rgb(255, 238, 247);
          // box-shadow: -1rem -1rem rgb(255, 242, 244);
        }

        #mingle {
          box-shadow: -1rem -1rem #fff2c5;
        }

        #ceremony {
          box-shadow: -1rem -1rem rgb(255, 233, 237);
        }

        #reception {
          box-shadow: -1rem -1rem rgb(233, 249, 255);
        }
      }

      #sunday-modal {
        #schedule-img-container {
          display: flex;

          img {
            height: 110px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #schedule-container-outer {
    #schedule-container {
      .modal-bg {
        .schedule-modal {
          width: 70%;
          height: 80%;

          img {
            display: none;
          }
          p {
            display: none;
          }
        }
      }
      .day-schedule {
        .detailed-schedule-container {
          flex-direction: column;
        }
      }
    }
  }
}
