#schedule-container-outer {
  height: auto;

  #schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .day-schedule {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px 0;

      .detailed-schedule-container {
        display: flex;

        .schedule-details {
          // cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 20px 30px;

          i,
          h3,
          p {
            margin: 5px;
          }

          .hover {
            color: pink;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        #friday-modal,
        #saturday-mingle-modal,
        #saturday-ceremony-modal,
        #saturday-reception-modal,
        #sunday-modal {
          cursor: pointer;
        }
      }
    }

    i {
      font-size: 24px;
      color: pink;
    }

    h2 {
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    .modal-bg {
      .schedule-modal {
        display: block;
        max-width: 70%;
        max-height: 80%;
        box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        cursor: auto;

        background-color: white;
        padding: 30px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // Center the modal
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        h2 {
          font-family: "Poppins", sans-serif;
          text-transform: uppercase;
          letter-spacing: 3px;
          margin: 0 0 10px 0;
        }

        h3,
        p {
          line-height: 1.5;
          margin: 10px 0 10px 0;
          text-align: center;
        }

        img {
          height: 200px;
          width: auto;
          // max-width: 100%;
          // height: auto;
          border-radius: 3px;
        }

        // .schedule-img-container {
        //   display: flex;

        //   img {
        //     height: 120px;
        //     border-radius: 3px;
        //     margin: 0 10px 0 0;
        //   }
        // }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #schedule-container-outer {
    #schedule-container {
      .modal-bg {
        .schedule-modal {
          width: 70%;
          height: 80%;
          
          img {
            display: none;
          }
          p {
            display: none;
          }
        }
      }
      .day-schedule {
        .detailed-schedule-container {
          flex-direction: column;
        }
      }
    }
  }
}
