#schedule-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  #timeline-container {
    margin: 50px 0 100px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 65%;

    &::after {
      background-color: pink;
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      left: calc(50% - 2px);
    }

    #timeline-item {
      display: flex;
      justify-content: flex-end;
      padding: 0 30px 0 0;
      margin: 10px 0;
      width: 45%;
      border: 1px solid pink;
      border-radius: 3px;

      &:nth-child(odd) {
        align-self: flex-end;
        justify-content: flex-start;
        padding: 0 0 0 30px;

        #timeline-item-content {
          align-items: flex-start;
          text-align: left;

          &::after {
            right: auto;
            left: -36px;
            border: none;
            border-bottom: 1px solid pink;
            border-left: 1px solid pink;
          }

          .circle {
            right: auto;
            left: -69.5px;
          }
        }
      }

      #timeline-item-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        position: relative;
        padding: 10px;

        &::after {
          content: "";
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          position: absolute;
          right: -36px;
          top: calc(50% - 7.5px);
          background-color: white;
          border-top: 1px solid pink;
          border-right: 1px solid pink;
        }

        .schedule-detail {
          p {
            font-size: 12px;
            line-height: 1.5;
          }
        }

        #day {
          display: flex;
          justify-content: space-around;

          p {
            font-size: 14px;
            margin: 0 0 5px 0;
            letter-spacing: 1px;
          }
        }

        #time {
        }

        #text {
        }

        .circle {
          border: 1px solid pink;
          background-color: white;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          top: calc(50% - 6px);
          right: -66px;
          z-index: 100;
        }
      }
    }
  }
}
