footer {
    background-color: white;
    color: pink;
    font-size: .6rem;
    height: 30px;
    margin-top: -30px;
    line-height: 30px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    i {
        color: pink;
    }
}