.rsvp-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  .rsvp-form-container {
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;

    label p {
      font-weight: bold;
    }

    p {
      display: inline;
    }

    .close-btn {
      border: none;
      background-color: transparent;
      width: fit-content;
    }
  }
}

// .rsvp-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: calc(100vh - 110px);
//     background-image: url("https://firebasestorage.googleapis.com/v0/b/gallery-23854.appspot.com/o/IMG_3125.jpeg?alt=media&token=329df3f9-01f2-436e-9ccc-2b3a3acacbab");
//     background-size:     cover;     
//     background-repeat:   no-repeat;
//     background-position: center center;              
    
//     .image {

//         img {
//             height: 200px;
//             width: auto;
//         }
//     }

//     .rsvp-form {
//         width: 500px;
//         font-size: 12px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         border: 1px solid red;

//         .rsvp-q {
//             .inputs {
//                 .checkbox {
//                     display: flex;
//                     flex-wrap: nowrap;
//                     flex-direction: row;
                    
//                     div {
//                         display: inline-block;
//                         p {
//                             padding-left: 5px;
//                         }
//                     }
//                 }
//             }
//         }
        
//     }

    
//     // .rsvp-form {

//     //     .inputs {
//     //         display: flex;
//     //         flex-direction: row;
//     //         justify-content: space-between;
//     //         align-items: center;
//     //         width: 40%;

//     //         .text {
//     //                                     display: block;
//     //                     width: 60%;
//     //                     border: none;
//     //                     border-bottom: 1px solid lightgrey;
//     //                     height: 36px;
//     //                     padding: 5px;
//     //         }
            
//     //     }
    
//     //     #diet {
//     //         width: 80%
//     //     }
//     // }
// }