#rsvp-wrapper {
  // height: calc(100vh - 100px);
  position: relative;

  .modal-bg {

    #rsvp-modal {
      padding: 50px;
      border-radius: 3px;
      display: block;
      width: 60%;
      max-height: 80%;
      margin: 60px auto;
      box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
      border: 6px solid rgba($color: #ffffff, $alpha: 0.3);
      background-color: white;
      cursor: auto;
      overflow: scroll;

      .question {
        p,
        label {
          font-size: 20px;
          margin: 0 10px 0 0;
        }

        input {
          margin: 0 5px 0 0;
        }

        label {
          cursor: pointer;
        }

        p {
          margin: 0 0 10px 0;
        }

        .inputs {
          margin: 0 0 20px 0;

          .check {
            .radio {
              display: inline-flex;
              align-items: center;
              cursor: pointer;
              margin-right: 10px;

              .radio-input {
                display: none;
              }

              .radio-div {
                width: 1.25em;
                height: 1.25em;
                // border: 2px solid rgba(190, 233, 225, 0.6);
                border: 2px solid rgb(254, 242, 244);
                border-radius: 50%;
                margin-right: 10px;
                // box-sizing: border-box;
                padding: 2px;

                &::after {
                  content: "";
                  width: 100%;
                  height: 100%;
                  display: block;
                  // background: rgb(190, 233, 225);
                  background: pink;
                  border-radius: 50%;
                  transform: scale(0);
                  transition: transform 0.15s;
                }
              }

              .radio-input:checked + .radio-div::after {
                transform: scale(1);
              }
            }
          }

          input {
            display: block;
            width: 50%;
            border: none;
            border-bottom: 1px solid lightgrey;
            height: 36px;
            padding: 5px;

            &::placeholder {
              font-weight: bold;
              color: rgb(215, 215, 215);
            }

            &:focus {
              outline: none;
              border: none;
              border-bottom: 1px solid #FFDB58;
            }
          }
        }
      }

      .rsvp-submit-btn {
        background-color: transparent;
        border: 1px solid pink;
        border-radius: 30px;
        height: 40px;
        width: 140px;
        min-width: 100px;
        color: pink;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.15s;

        p,
        i {
          font-size: 15px;
          margin: 0 5px 0 0;
          color: pink;
        }

        &:hover {
          transition: all 0.1s ease 0s;
          background-color: pink;

          p {
            font-weight: bold;
            color: white;
          }

          i {
            color: white;
            font-weight: bold;
          }
        }
      }

      #update-rsvp-btn {
        width: 150px;
      }
    }
  }

  #rsvp-mobile-container {
    display: none;
  }

  #rsvp-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    // height: 100vh;
    position: relative;

    h3,
    h2 {
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 0 0 10px 0;
    }

    &::after {
      content: "";
      background-image: url("https://firebasestorage.googleapis.com/v0/b/gallery-23854.appspot.com/o/IMG_20200920_183756.jpeg?alt=media&token=2ea8a703-c0a3-4b7e-b550-ddbc19d98ef8");
      opacity: 0.6;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      z-index: -1;
    }

    #rsvp-invitation {
      position: relative;
      width: 400px;
      height: 300px;

      #envelope {
        width: 400px;
        height: 300px;
        background-color: black;
        border-width: 150px;
        border-style: solid;
        border-color: rgb(255, 245, 247) rgb(255, 225, 230) rgb(255, 212, 220) rgb(255, 225, 230);
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        // box-shadow: 3px 5px 6px rgb(85, 85, 85);
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
      }

      #rsvp-note,
      #rsvp-update {
        background-color: white;
        // box-shadow: 3px 5px 6px rgb(85, 85, 85);
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
        width: 400px;
        height: 270px;
        border-radius: 10px;
        padding: 30px;
        position: absolute;
        top: 40px;
        left: 40px;

        #rsvp-btn-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #rsvp-wrapper {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, white 50%, #F2E2E5 50%);
    width: 100%;

    #rsvp-img-container {
      display: none;
    }

    .modal-bg {
      
      #rsvp-modal {
        width: 90%;
        height: auto;
        overflow: scroll;
        padding: 15px;
      }
    }

    #rsvp-mobile-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: auto;

      #rsvp-note,
      #rsvp-update {
        width: auto;
        border-radius: 6px;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
        padding: 30px;
        background-color: white;

        h2,
        h3 {
          margin-bottom: 20px;
        }

        #rsvp-btn-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
