.rsvp-modal-background {
  width: 100vmax;
  height: 100vmax;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  .rsvp-form-container {
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 2px;
    // box-shadow: ;
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    font-size: 12px;

    label {
      p {
        font-weight: bold;
      }
    }

    .text {
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid lightgrey;
      height: 36px;
      padding: 5px;
      
      &::placeholder {
        font-weight: bold;
        color: rgb(215, 215, 215);
      }
      
      &:focus {
        outline: none;
        border: none;
        border-bottom: 1px solid pink;
      }
    }

    p {
      display: inline;
    }

    .close-btn {
      display: flex;
      justify-content: flex-end;
      
      button {
        border: none;
        background-color: transparent;
        width: fit-content;
        font-size: 18px;

        i {
          color: #999;

          &:hover {
            color: #666;
          }
        }
      }
    }
  }
}
