* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #666;

  p {
    font-size: 12px;
  }
}

body {
  max-width: 960px;
  margin: 0 auto;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: pink;
  color: white;
  font-size: 9px;

  i {
    color: white;
    font-size: 13px;
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 7000;
  cursor: pointer;
}

a {
  color: pink;

  p {
    color: pink;

    &:hover {
      font-weight: bold;
      color: rgb(251, 150, 167);
    }
  }

  i {
    color: rgb(251, 150, 167);
  }

  &:hover {
    // text-decoration: underline;
    font-weight: bold;
    color: rgb(251, 150, 167);
  }
}

li {
  list-style: none;
}
