* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #666;

  body {
    max-width: 960px;
    margin: 0 auto;

    li {
      list-style: none;
    }

    p {
      font-size: 1rem;
      font-weight: 100;
    }

    a,
    button {
      cursor: pointer;
      text-decoration: none;
    }
  
    button {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: none;
      background-color: pink;
      color: white;
      font-size: 9px;
  
      i {
        color: white;
        font-size: 13px;
      }
    }
  
    a {
      color: #a7beb6;
  
      p {
        color: #a7beb6;
  
        &:hover {
          color: #a7beb6;
        }
      }
      
      i {
        color: #a7beb6;
      }
  
      &:hover {
        color: #fbcce7;
      }
    }
  
    .rsvp-submit-btn {
      background-color: transparent;
      border: 1px solid #a7beb6;
      border-radius: 30px;
      height: 40px;
      width: 120px;
      min-width: 100px;
      color: #a7beb6;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.15s;
  
      p,
      i {
        font-weight: 300;
        letter-spacing: 1.2px;
        color: #a7beb6;
      }

      i {
        margin: 0 0 0 5px;
      }
  
      &:hover {
        transition: all 0.1s ease 0s;
        background-color: #a7beb6;
  
        p {
          color: white;
        }
  
        i {
          color: white;
        }
      }
    }
  
    .modal-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 7000;
      cursor: pointer;
    }
  }
}
