* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

a, button {
    cursor: pointer;
    text-decoration: none;
}

a {
    color: pink;
    
    p {
        color: pink;

        &:hover {
            font-weight: bold;
            color: rgb(251, 150, 167);
        }
    }
    
    i {
        color: rgb(251, 150, 167);
    }

    &:hover {
        // text-decoration: underline;
        font-weight: bold;
        color: rgb(251, 150, 167);
    }
}

li {
    list-style: none;
}