#faq-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: calc(100vh - 100px);
  // margin: 300px auto;
  height: auto;

  #faq-container {
    width: 60%;

    h1 {
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    .faq-item {
      .faq-hide {
        display: none;
      }

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        h5 {
          margin: 20px 20px 10px 0;
        }

        i {
          font-size: 13px;
          font-weight: bold;
        }

        .fa-compress-alt, .fa-expand-alt {
          font-size: 12px;
          color: #898989;
        }
      }

      .answer {
        p {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}
