#faq-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: calc(100vh - 100px);
  // margin: 300px auto;
  height: auto;

  #faq-container {
    width: 70%;

    #faq-header {
      display: flex;
      align-items: center;
      justify-content: center;
      
      h2 {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 20px 0;
      }
    }


    .faq-item {
      .faq-hide {
        display: none;
      }

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        h5 {
          margin: 20px 20px 10px 0;
          font-size: 18px;
          font-weight: 300;
        }
        
        i {
          font-size: 18px;
          font-weight: 300;
        }

        .fa-compress-alt, .fa-expand-alt {
          font-size: 12px;
          color: #898989;
        }
      }

      .answer {
        p {
          font-size: 18px;
          padding-right: 20px;
          
          &:last-child {
            padding-bottom: 40px;
          }
        }

        a {
          font-weight: 500;
        }
      }
    }
  }
}
