#faq-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: calc(100vh - 100px);
  // margin: 300px auto;
  height: auto;

  #faq-container {
    width: 60%;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .faq-item {
      .faq-hide {
        display: none;
      }

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        h5 {
          margin: 20px 20px 10px 0;
        }

        i {
          font-size: 13px;
        }
      }

      .answer {
        p {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}
