#faq-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);

  #faq-container {
    width: 60%;

    .faq-item {

      .faq-hide {
        display: none;
      }

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        h4 {
          margin: 20px 20px 10px 0;
        }

      }

      .answer {
        p {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}
