#faq-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: calc(100vh - 100px);
  // margin: 300px auto;
  height: auto;


  #faq-container {
    width: 60%;

    // #set-all {
    //   display: flex;
    //   justify-content: flex-end;
    //   align-items: center;

    //   i {
    //     // font-size: 20px;
    //     // color: pink;
    //     margin: 5px;
    //     cursor: pointer;
    //     font-size: 16px;
    //     color: #666666;
    //   }
    // }

    .faq-item {
      .faq-hide {
        display: none;
      }

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        
        h5 {
          margin: 20px 20px 10px 0;
        }
      }

      .answer {
        p {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}
