#logged-out-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  p {
    color: pink;
    font-size: 12px;
    text-align: center;
  }
}

#navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  font-size: 0.9rem;
  position: sticky;
  top: 0;
  z-index: 2;
  // text-transform: uppercase;

  #logo {
    margin-left: 2rem;
    width: 46px;
    text-align: center;

    a {
      color: pink;

      p {
        font-size: 14.4px;
      }

      i.fas.fa-heart {
        display: none;
      }
    }

    &:hover {
      a {
        text-align: center;

        #logo {
          display: none;
        }

        i.fas.fa-heart {
          display: inline;
        }
      }
    }
  }

  #menu-icon {
    display: none;

    .fa-bars {
      color: pink;
    }
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    text-align: center;

    #menu-links {
      padding: 0.5rem 1rem;

      &:hover {
        font-weight: bold;
        transition: all 0.2s ease-out;
      }
    }
  }

  #log-out {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    text-align: center;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 960px) {
  #navbar-container {
    position: relative;

    #menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;

      .fa-times {
        color: pink;
        font-size: 2rem;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 70px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      background: blue;

      // #menu-links {
      //   text-align: center;

      //   &:hover {
      //     border-radius: 0;
      //   }
      // }
    }

    .active {
      left: 0;
      transition: all 0.5s ease;
      // z-index: 1;
    }

    #log-out {
      display: none;
    }
  }
}
