.navbarItems {
    background-color: white;
    border-bottom: whitesmoke;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px;
    text-align: center;
    // width: 70vW;
    // justify-content: end;
    // margin-right: 2rem;
}

.nav-session {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    text-align: center;
    // width: 70vW;
    // justify-content: end;
    margin-right: 2rem;
}

.nav-logo {
    margin-left: 2rem;
    width: 46px;
    text-align: center;

    a {
        color: pink;

        i.fas.fa-heart {
            display: none;
        }
    }
}

.nav-logo:hover {
    a {
        text-align: center;

        .logo {
            display: none;
        }
    
        i.fas.fa-heart {
            display: inline;
        }
    }
    
}

.nav-links {
    // text-decoration: none;
    padding: 0.5rem 1rem;
    
    // a {
    //     color: pink;
    // }
}

.nav-links:hover {
    // background-color: purple;
    // text-decoration: underline;
    font-weight: bold;
    // color: pink;
    // border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: pink;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px){
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s east;
    }

    .nav-links-mobile { 
        display: none;
    }

    .nav-menu.active {
        background: white;
        // color: white;
        left: 0;
        // opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    
    .nav-links {
        text-align: center;
        // padding: 2rem;
        // width: 100%;
        // display: table;
    }
    
    .nav-links:hover {
        // background-color: pink;
        // color: white;
        border-radius: 0;
    }

    // .navbar-logo {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     transform: translate(25%, 50%);
    // }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: pink;
        font-size: 2rem;
    }

    // .nav-links-mobile {
    //     display: block;
    //     text-align: center;
    //     padding: 1.5rem;
    //     margin: 2rem auto;
    //     border-radius: 4px;
    //     width: 80%;
    //     background: #4ad9e4;
    //     text-decoration: none;
    //     color: white;
    //     font-size: 1rem;
    // }

    // .nav-links-mobile:hover {
    //     background: white;
    //     color: #6568F4;
    //     transition: 250ms;
    // }

    // Button {
    //     display: none;
    // }
    
}