#logged-out-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  p {
    color: pink;
    font-size: 12px;
    text-align: center;
  }
}

#navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  font-size: 0.9rem;
  margin-left: 35px;
  position: sticky;
  top: 0;
  z-index: 2;
  // text-transform: uppercase;

  #logo {
    width: 50px;
    
    a {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      
      p,
      i {
        display: inline;
        font-size: 15px;
        color: pink;
      }

      i {
        display: none;
      }

      &:hover p {
        display: none;
      }

      &:hover i {
        display: inline;
      }
    }
  }

  #menu-icon {
    display: none;

    .fa-bars {
      color: pink;
    }
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    text-align: center;

    #menu-links {
      padding: 0.5rem 1rem;

      &:hover {
        font-weight: bold;
        transition: all 0.2s ease-out;
      }
    }
  }

  #log-out {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    text-align: center;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 960px) {
  #navbar-container {
    position: relative;
    margin: 10px 25px 0 50px;

    #logo {
      width: 70px;

      a {

        p, i {
          font-size: 24px;
        }
      }
    }

    #menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;

      .fa-times {
        color: pink;
        font-size: 2rem;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      width: 110%;
      height: calc(100vh - 100px);
      position: absolute;
      top: 69px;
      left: -120%;
      opacity: 1;
      transition: all 0.5s ease;
      background: white;
    }

    .active {
      left: -6%;
      transition: all 0.5s ease;
    }

    #log-out {
      display: none;
    }
  }
}
