#logged-out-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  p {
    letter-spacing: 1.2px;
    color: #a7beb6;
    font-size: 1rem;
    text-align: center;
  }
}

#navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 2;

  #logo {
    width: 80px;
    margin-left: 15px;

    a {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 1.2rem;
        font-weight: 300;
      }

      i {
        display: inline;
        color: #fbcce7;
        display: none;
      }

      &:hover p {
        display: none;
      }

      &:hover i {
        display: inline;
      }
    }
  }

  #menu-icon {
    display: none;

    .fa-bars {
      color: #a7beb6;
    }
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    text-align: center;

    .menu-links {
      padding: 0.5rem 1rem;

      a {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1.2px;

        &:hover {
          transition: all 0.2s ease-out;
        }
      }
    }
  }

  #log-out {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    text-align: center;
    margin-right: 2rem;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
}

@media screen and (max-width: 960px) {
  #navbar-container {
    position: relative;
    margin: 10px 25px 0 0;
    padding: 0 0 0 45px;

    #logo {
      width: 70px;
      a {

        p {
          font-weight: 700;
          font-size: 1.5rem;
        }

        i {
          display: none;
        }

        &:hover p {
          display: inline;
        }

        &:hover i {
          display: none;
        }
      }
    }

    #menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;

      .fa-times {
        color: #a7beb6;
        font-size: 2rem;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      width: 108%;
      height: calc(100vh - 70px);
      overflow: hidden;
      position: absolute;
      top: 69px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
      background: white;

      .menu-links {
        a {
          font-weight: 700;
          font-size: 1.5rem;
        }
      }
    }

    .active {
      left: 0%;
      transition: all 0.5s ease;
    }

    #log-out {
      display: none;
    }
  }
}
