#welcome-container {
  height: calc(100vh - 100px);
  // width: 100%;

  #logged-in-img-grid {
    column-count: 3;
    column-width: 33%;

    -webkit-column-count: 3;
    -moz-column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;

    .img-wrap {
      opacity: 0.8;
      // -webkit-transition: all 350ms ease;
      // transition: all 350ms ease;
      margin-bottom: 12px;
      cursor: pointer;

      img {
        border-radius: 2px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  #disclosure-modal-container {
    #modal-bg {
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      cursor: pointer;
    }

    // #disclosure-modal {
    //   // // width: 500px;
    //   // position: fixed;
    //   // top: 50%;
    //   // left: 50%;
    //   // // transform: translate(-50%, -50%);
    //   // z-index: 1000;

    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);

    //   img {
    //     width: 70%;
    //   }
    // }

    #img-carousel {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 50px;
        position: absolute;
        color: pink;
        cursor: pointer;
        z-index: 100;
        user-select: none;
      }

      .fa-caret-left {
        top: 50%;
        left: 32px;
      }

      .fa-caret-right {
        top: 50%;
        right: 32px;
      }

      .img-container {
        opacity: 0;
        transition-duration: 1s ease;

        img {
          width: 50%;
          // max-height: 10%;
          border-radius: 3px;
        }
      }

      .active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
      }
    }
  }

  #logged-out-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: calc(100vh - 110px);
    height: 100vh;
    // display: block;
    position: relative;

    &::after {
      content: "";
      background-image: url("https://firebasestorage.googleapis.com/v0/b/gallery-23854.appspot.com/o/DSC03602.jpeg?alt=media&token=f0d45df1-b100-4847-9787-b6353aa04098");
      opacity: 0.6;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      z-index: -1;
    }

    a {
      #log-in-btn {
        background-color: transparent;
        border: 1px solid pink;
        border-radius: 30px;
        height: 40px;
        width: 100px;
        color: pink;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-size: 15px;
          margin: 0 5px 0 0;
        }

        i {
          color: pink;
        }

        &:hover {
          transition: all 0.1s ease 0s;
          background-color: pink;

          p {
            font-weight: bold;
            color: white;
          }

          i {
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .img-grid {
    column-count: 2;

    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

@media (max-width: 480px) {
  .img-grid {
    column-count: 1;
    column-width: 100%;

    -webkit-column-count: 1;
    -moz-column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
  }
}
