#welcome-container {
  height: calc(100vh - 100px);
  position: relative;

  #logged-in-img-grid {
    column-count: 3;
    column-width: 33%;

    .img-wrap {
      opacity: 0.8;
      cursor: pointer;
      overflow: hidden;
      margin-bottom: 24px;

      // height: 0;
      // padding: 50% 0;
      // position: relative;

      img {
        border-radius: 2px;
        // min-width: 100%;
        // min-height: 100%;
        // max-width: 150%;
        // position: absolute;
        // top: 0;
        // left: 0;
        width: 95%;
        height: auto;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  #modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 7000;
    cursor: pointer;

    img {
      display: block;
      max-width: 60%;
      max-height: 80%;
      margin: 60px auto 0px auto;
      box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
      border: 3px solid white;
      cursor: auto;
    }

    p {
      // display: block;
      background-color: white;
      margin: 0px auto;
      // margin: 10px;
      color: black;
      font-size: 18px;
    }
  }

  // #logged-in-img-grid {
  //   column-count: 3;
  //   column-width: 33%;

  //   -webkit-column-count: 3;
  //   -moz-column-count: 3;
  //   -webkit-column-width: 33%;
  //   -moz-column-width: 33%;

  //   .img-wrap {
  //     opacity: 0.8;
  //     // -webkit-transition: all 350ms ease;
  //     // transition: all 350ms ease;
  //     margin-bottom: 12px;
  //     cursor: pointer;

  //     img {
  //       border-radius: 2px;
  //     }

  //     &:hover {
  //       opacity: 1;
  //     }
  //   }
  // }

  // #disclosure-modal-container {
  //   position: absolute;
  //   top: 0;

  //   #modal-bg {
  //     background-color: rgba(0, 0, 0, 0.6);
  //     position: fixed;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //     z-index: 100;
  //     cursor: pointer;
  //   }

  //   #img-carousel {
  //     position: relative;
  //     display: flex;
  //     // display: inline-block;
  //     justify-content: center;
  //     align-items: center;
  //     height: calc(100vh - 100px);
  //     z-index: 1001;

  //     i {
  //       font-size: 50px;
  //       position: absolute;
  //       color: pink;
  //       cursor: pointer;
  //       user-select: none;
  //     }

  //     .fa-caret-left {
  //       top: 50%;
  //       left: 190px;
  //     }

  //     .fa-caret-right {
  //       top: 50%;
  //       right: 190px;
  //     }

  //     .img-container {
  //       opacity: 0;
  //       transition-duration: 1s ease;
  //       width: 50%;
  //       display: block;
  //       margin-left: auto;
  //       margin-right: auto;
  //       border-radius: 3px;
  //     }

  //     .active {
  //       opacity: 1;
  //       transition-duration: 1s;
  //       transform: scale(1.08);
  //     }
  //   }
  // }

  #logged-out-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: calc(100vh - 110px);
    height: 100vh;
    // display: block;
    position: relative;

    &::after {
      content: "";
      background-image: url("https://firebasestorage.googleapis.com/v0/b/gallery-23854.appspot.com/o/DSC03602.jpeg?alt=media&token=f0d45df1-b100-4847-9787-b6353aa04098");
      opacity: 0.6;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      z-index: -1;
    }

    a {
      #log-in-btn {
        background-color: transparent;
        border: 1px solid pink;
        border-radius: 30px;
        height: 40px;
        width: 100px;
        color: pink;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-size: 15px;
          margin: 0 5px 0 0;
        }

        i {
          color: pink;
        }

        &:hover {
          transition: all 0.1s ease 0s;
          background-color: pink;

          p {
            font-weight: bold;
            color: white;
          }

          i {
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .img-grid {
    column-count: 2;

    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

@media (max-width: 480px) {
  .img-grid {
    column-count: 1;
    column-width: 100%;

    -webkit-column-count: 1;
    -moz-column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
  }
}
