#session-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);

  form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 0 0 40px 0;
      text-align: justify;
      letter-spacing: 1.2px;
      font-weight: 100;
    }

    #session-errors {
      ul {
        li {
          margin: 0 0 40px 0;
        }
      }
    }

    label {
      display: block;
      width: 100%;
      font-size: 16px;

      input {
        // font-size: 16px;
        font-size: 20px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid lightgrey;
        height: 36px;
        padding: 5px;

        &::placeholder {
          color: rgb(215, 215, 215);
        }

        &:focus {
          outline: none;
          border: none;
          border-bottom: 1px solid #fbcce7;
        }
      }
    }

    .session-actions {
      align-self: flex-end;
      margin: 40px 10px 0 0;

      #arrow-btn {
        background-color: white;
        border: 1px solid #A7BEB6;;
        color: #A7BEB6;

        i {
          color: #A7BEB6;
        }

        &:hover {
          transition: all 0.3s ease 0s;
          background-color: #A7BEB6;
          color: white;

          i {
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #session-container {

    form {
      width: 80%;
    }
  }
}
