#session-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100vh;
  height: calc(100vh - 100px);

  form {
    width: 40%;
    // height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 0 0 40px 0;
      text-align: justify;
      width: 90%;
    }

    label {
      display: block;
      width: 100%;
      font-size: 13px;

      input {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid lightgrey;
        height: 36px;
        padding: 5px;

        &::placeholder {
          font-weight: bold;
          color: rgb(215, 215, 215);
        }

        &:focus {
          outline: none;
          border: none;
          border-bottom: 1px solid pink;
        }
      }
    }

    // p {
    //   font-size: 13px;
    // }

    .session-actions {
      // display: flex;
      // justify-content: flex-end;
      align-self: flex-end;
      margin: 40px 10px 0 0;

      #arrow-btn {
        background-color: white;
        border: 1px solid pink;
        color: pink;

        i {
          color: pink;
        }

        &:hover {
          background-color: pink;
          color: white;

          i {
            color: white;
          }
        }
      }
    }
  }
}

button {
  // font-size: 12px;
  // color: white;
  // background-color: rgb(0, 180, 5);
  // border-radius: 4px;
  // padding-top: 12px;
  // padding-bottom: 12px;
  // padding: 0px 36px;
  // transition: all 0.1s ease 0s;
  // height: 40px;
  // min-width: 115px;

  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: pink;
  color: white;
  font-size: 9px;

  i {
    color: white;
    font-size: 13px;
  }

  p {
  }
  // }
}

// .session-form-container {
//     // width: 100vw;
//     height: 100vh;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     // grid-gap :7rem;
//     padding: 0 2rem;

//     .arch {
//         display: flex;
//         justify-content: center;
//         align-items: center;

//         img {
//             height: 300px;
//         }
//     }

//     .session-content {
//         display: flex;
//         align-items: center;
//         text-align: center;

//         form {
//             width: 260px;

//             h2 {
//                 font-size: 1rem;
//                 margin: 15px 0;
//             }

//             .session-input-div {
//                 position: relative;
//                 display: grid;
//                 grid-template-columns: 7% 93%;
//                 margin: 25px 0;
//                 padding: 5px 0;
//                 border-bottom: 2px solid #d9d9d9;
//                 position: relative;

//                 &:after, &:before {
//                     content: '';
//                     position: absolute;
//                     bottom: -2px;
//                     width: 0;
//                     height: 2px;
//                     background-color: #38d39f;
//                 }

//                 &:after {
//                     right: 50%;
//                 }

//                 &:before {
//                     left: 50%;
//                 }

//                 .i {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;

//                     i {
//                         color: #d9d9d9;
//                     }
//                 }

//                 .session-header {
//                     position: relative;
//                     height: 45px;

//                     h5 {
//                         position: absolute;
//                         left: 10px;
//                         top: 50%;
//                         transform: translateY(-50%);
//                         color: #999;
//                         font-size: 18px;
//                         transition: .3s;
//                     }

//                     .session-input {
//                         position: absolute;
//                         width: 100%;
//                         height: 100%;
//                         top: 0;
//                         left: 0;
//                         border: none;
//                         outline: none;
//                         background: none;
//                         padding: 0.5rem 0.7rem;
//                         font-size: 1.2rem;
//                         color: #555;
//                     }
//                 }
//             }

//             .email {
//                 margin-top: 0;
//             }

//             .password {
//                 margin-bottom: 4px;
//             }

//             .focus {
//                 .i i {
//                     color: #38d39f;
//                 }

//                 .session-header h5 {
//                     top: -5px;
//                     font-size: 15px;
//                 }

//                 &:after, &:before {
//                     width: 50%;
//                 }
//             }

//             .forgot {
//                 display: block;
//                 text-align: right;
//                 color: #999;
//                 font-size: 0.9rem;
//                 transition: .3s;

//                 &:hover {
//                     color: #38d39f;
//                 }
//             }

//             .session-submit {
//                 display: block;
//                 width: 100%;
//                 height: 50px;
//                 border-radius: 25px;
//                 margin: 1rem 0;
//                 font-size: 1.2rem;
//                 outline: none;
//                 border: none;
//                 background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
//                 background-size: 200%;
//                 transition: .5s;

//                 &:hover {
//                     background-position: right;
//                 }
//             }

//         }
//     }
// }

// .session-form-box {
//     display: flex;
// 	justify-content: flex-start;
// 	align-items: center;
// 	text-align: center;

//     .input-div {
//         position: relative;
//         display: grid;
//         grid-template-columns: 7% 93%;
//         margin: 25px 0;
//         padding: 5px 0;
//         border-bottom: 2px solid #d9d9d9;

//         .email {
//             margin-top: 0;
//         }
//     }
// }

// .session-form {
//     color: gray;
// }

// @media screen and (max-width: 960px){
//     .session-form-container {

//     }
// }
